*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro';
    font-size: 15px;
    line-height: 24px;
    color: $c27;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

.document-wrapper {
    position: relative;
    overflow: hidden;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}