@media (max-width: 1620px) {
  .content__wrapper {
    background: none;
  }
}

@media (max-width: 1200px) {
  .special {
    background: none;
  }
}

@media (max-width: 1120px) {
  .header {
    .slider-item__img {
      margin-right: 35px;

      img {
        width: 400px;
      }
    }
  }
  .content__item-img {
    img {
      width: 500px;
    }
  }
}

@media (max-width: 975px) {
  .header {
    .slider-item__img {
      img {
        width: 300px;
      }
    }

    .slick-dots {
      height: 175px;
      top: 0;
      bottom: auto;
    }
  }
  .content__item {
    align-items: center;
  }
  .content__item-img img {
    width: 400px;
  }
}

@media (max-width: 945px) {
  .reviews {
    padding-bottom: 55px;
  }
  .reviews__inner {
    flex-wrap: wrap;
  }
  .review {
    max-width: none;
    width: 49.5%;
    min-width: 300px;
    margin-bottom: 25px;
  }
}

@media (max-width: 900px) {
  .header {
    .menu {
      max-width: none;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      max-width: 320px;
      width: 100%;
      flex-direction: column;
      background: #272727;
      z-index: 1;
      align-items: flex-start;
      padding: 57px 30px;
      transform: translateX(101%);
      transition: transform .4s ease;
      max-height: 100vh;
      overflow-y: auto;

      &.show {
        transform: translateX(0);
      }

      .close {
        display: block;
      }
    }

    .menu-list {
      display: flex;
      flex-direction: column;
    }

    .menu-item + .menu-item {
      margin-top: 15px;
      padding-left: 0;
    }

    .mobile-menu {
      display: block;
    }

    .reg {
      margin-top: 30px;
      padding-top: 15px;
      border-top: 1px solid #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .menu__btn {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

@media (max-width: 875px) {
  .header {
    .slider-item {
      text-align: center;

      &__content {
        margin: 0 auto;
      }
    }

    .slider-item__img {
      display: none;
    }
  }
}

@media (max-width: 850px) {
  .content__item-img img {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .special {
    padding-bottom: 40px;

    &__inner {
      flex-wrap: wrap;
    }

    &__item-wrapper {
      width: 50%;
      margin-bottom: 35px;
    }

    &__item {
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 675px;

    .slider-item__text {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 735px) {
  .content {
    padding-top: 55px;
  }
  .content__item {
    flex-direction: column;

    &.reverse {
      flex-direction: column;
    }

    &-info {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 640px) {
  .reviews__inner {
    justify-content: center;
  }
  .review {
    width: 100%;
    margin-bottom: 0;

    & + & {
      margin-top: 20px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__menu {
      margin-bottom: 90px;
    }

    .slider-item__title {
      font-size: 35px;
      line-height: 45px;
    }

    .slider-item__text {
      line-height: 40px;
      margin-bottom: 40px;
    }
  }
  .special__title {
    margin-bottom: 50px;
  }
  .content__item-info {
    padding-left: 0 !important;
  }
}

@media (max-width: 575px) {
  .header {
    .slick-dots {
      top: auto;
      display: flex;
      justify-content: center;
      bottom: -50px;
      left: 0;
      flex-direction: row;
      height: auto;
      align-items: center;

      li {
        align-items: center;
        width: 7px;
        height: 15px;
      }

      li + li {
        margin-top: 0;
        margin-left: 10px;
      }

      .slick-active button {
        width: 7px;
        height: 15px;
      }
    }
  }
  .footer__inner {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .special {
    padding-bottom: 60px;

    &__item-wrapper {
      width: 100%;
      margin-bottom: 0;
    }

    &__item-wrapper + .special__item-wrapper {
      margin-top: 35px;
    }
  }
}

@media (max-width: 500px) {
  .content__item-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .reviews__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 400px) {
  .special__title {
    font-size: 30px;
  }
}
