@import "libs";
@import "vars";
@import "fonts";
@import "global";

.header {
  min-height: 795px;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  color: #fff;
  a {
    color: #fff;
  }

  &__menu {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 142px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item + .menu-item {
      padding-left: 50px;
    }

    &-item__link {
      opacity: .5;
      transition: opacity .1s ease;

      &:hover {
        opacity: 1;
      }
    }

    &-item.active .menu-item__link {
      opacity: 1;
    }

    .close {
      display: none;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 23px;
      height: 23px;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 2px;
        height: 30px;
        background: #fff;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
  .menu__btn {
    color: $blue;
    padding: 8px 44px;
    background: #fff;
    border-radius: 25px;
    margin-left: 44px;
  }
  nav {
    max-width: 760px;
    width: 100%;
    margin-left: 70px;
  }
  &__slider {
    position: relative;
  }
  .slider-item {
    display: flex !important;
    justify-content: space-between;
    &__content {
      max-width: 505px;
    }
    &__title {
      font-size: 45px;
      line-height: 60px;
      margin-bottom: 10px;
      font-weight: 700;
    }
    &__text {
      font-size: 24px;
      line-height: 55px;
      margin-bottom: 60px;
    }
    &__btn {
      color: #000;
      text-transform: uppercase;
      background: $yellow;
      padding: 13px 40px;
      border-radius: 25px;
      font-weight: 600;
    }
    &__img {
      margin-right: 64px;
    }
  }
  .slick-dots {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      width: 15px;
      display: flex;
      justify-content: center;
    }
    li + li {
      margin-top: 10px;
    }
    button {
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-size: 0;
      line-height: 0;
      width: 7px;
      height: 7px;
      background: #fff;
      opacity: 0.5;
      border-radius: 50%;
    }
    .slick-active button {
      width: 15px;
      opacity: 1;
      border-radius: 10px;
    }
  }
}

.mobile-menu{
  width: 30px;
  cursor: pointer;
  display: none;
  div{
    background: #fff;
    height: 4px;
    margin-bottom: 5px;
  }
}

.special {
  padding-top: 55px;
  background-image: url(../img/special-bg.svg);
  background-repeat: no-repeat;
  background-position: left 65px;
  padding-bottom: 90px;
  &__title {
    font-size: 35px;
    line-height: 45px;
    color: $c20;
    text-align: center;
    font-weight: 700;
    margin-bottom: 95px;
  }
  &__inner {
    max-width: 980px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__item {
    max-width: 280px;
    text-align: center;
    min-height: 280px;
    &-img {
      margin-bottom: 10px;
      min-height: 166px;
    }
    &-title {
      font-weight: 700;
      font-size: 20px;
      color: $c20;
      margin-bottom: 8px;
    }
    &-text {
      opacity: 0.7;
    }
  }
}

.content {
  background: #F4F9FD;
  padding-top: 70px;
  padding-bottom: 74px;
  &__wrapper{
    background-image: url(../img/content-bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &-info {
      align-self: center;
      max-width: 420px;
      background-repeat: no-repeat;
      background-position: top left;
    }
    &-title {
      font-size: 35px;
      line-height: 45px;
      color: $c20;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      margin: 20px 0;
    }
    & + & {
      margin-top: 76px;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
    &--1 {
      .content__item-info {
        background-image: url(../img/content-item-bg-1.svg);
        max-width: 445px;
        padding-left: 25px;
        padding-top: 45px;
      }
    }
    &--2 {
      .content__item-info {
        background-image: url(../img/content-item-bg-2.svg);
        padding-left: 18px;
        max-width: 438px;
      }
    }
    &--3 {
      .content__item-info {
        background-image: url(../img/content-item-bg-3.svg);
        padding-left: 40px;
        padding-top: 15px;
        max-width: 460px;
      }
    }
  }
}

.reviews {
  background-image: url(../img/reviews-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center;
  padding-top: 12px;
  padding-bottom: 82px;
  &__title {
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    max-width: 380px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  &__inner {
    max-width: 920px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.review {
  max-width: 300px;
  padding: 35px 20px;
  width: 100%;
  border-radius: 5px;
  background: rgba(#fff, 0.2);
  &__author {
    display: flex;
    margin-bottom: 15px;
    &-data {
      margin-left: 20px;
    }
    &-name {
      font-weight: 600;
    }
    &-descr {
      opacity: 0.5;
    }
  }
  &__content {
    text-align: center;
    padding-top: 40px;
    position: relative;
    &::before {
      content: '“';
      position: absolute;
      top: 0;
      left: 50%;
      font-size: 40px;
      line-height: 55px;
      font-weight: 700;
      transform: translateX(-50%);
    }
  }
}

.footer{
    height: 61px;
    &__inner{
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu{
        li + li{
            margin-left: 30px;
        }

      .menu-item__link {
        position: relative;
        color: #272727;

        &::before {
          content: '';
          position: absolute;
          margin: auto;
          bottom: 1px;
          left: 0;
          right: 0;
          height: 1px;
          width: 0;
          background: #272727;
          transition: width .1s ease;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
}

@import "media";
